* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
  }

.container {
    width: 856px;
    margin: 0 auto;

}

.navigation {
    text-align: center;
}

.navigation_list {
    padding: 32px 0;
    }

.navigation_list_item {
    margin-right: 50px;
    display: inline;
   
}

.navigation_list_item_link {
    color: black;
    text-decoration: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}
.content_block {
    background-color: #00BDC9;


}
.content_img {
    text-align: center;
     height: 552px;  
     padding-top: 80px;
 }


.content_text {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.content_paragraph {
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    margin-bottom: 20px;
}

.blue_span {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;
    color: #04959E;
}

.content_list {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #161616;    
    margin-bottom: 20px;
    list-style-position: inside
}

.content_button {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 73px;
}

.button {
    background-color: #04959E;
    color: aliceblue;
    width: 145px;
    height: 44px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    border: none;
    cursor: pointer;
    
}

.button:hover {
    background-color: #6b95e3
}

.footer {
    border-top: 1px solid #080808;
    
}
.footer_text {
    padding: 16px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;

}


